<% cache_if_caching_fragments("frontpage-#{@locale}", :expires_in => 5.minutes) do %>
  <%= render :partial => "frontpage_how_it_works" %>

  <div id="frontpage_examples" class="frontpage_examples">
    <%= render :partial => "frontpage_bodies_list" %>
    <%= render :partial => "frontpage_requests_list" %>
  </div>
 
<% end %>
<div id="front-partners">
  <h5>Proiect derulat de:</h5>
  <div id="fp-partners-logos">
    <a href="#"><img src="/assets/images/logos/SAR Societatea Academica Romania.png" alt="Societatea Academica din Romania"></a>
    <a href="#"><img src="/assets/images/logos/act for tomorrow.png" alt="act for tomorrow"></a>
    <a href="#"><img src="/assets/images/logos/Vellenes Fellesorganisasjon.png" alt="Vellenes Fellesorganisasjon"></a>
  </div>
</div>