<% @title = "Despre proiect" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="introduction">Despre proiect <a href="#introduction">#</a></h1>
 
<p>Proiectul <b>Cetățeni activi pentru servicii locale de calitate</b> este derulat de <em>Societatea Academică din România</em>, în parteneriat cu <em>Asociația Act For Tomorrow</em> și <em>Vellenes Fellesorganisasjon</em> și beneficiază de o finanțare nerambursabilă în valoare de 249.989 euro prin Granturile SEE 2014-2021 - programul Active Citizens Fund România –  finanțat de Islanda, Liechtenstein și Norvegia.</p>

<p><b>Scopul proiectului</b> îl reprezintă creșterea capacității de mobilizare și implicare civică, în special în rândul tinerilor, prin dezvoltarea unui set de metode și instrumente de monitorizare și advocacy în vederea îmbunătățirii calității serviciilor furnizate de administrațiile publice locale din mediul urban. Concret, sunt vizate <b>educația</b>, <b>transportul public local</b>, respectiv <b>gestionarea deșeurilor</b>, domenii care vor fi monitorizate prin activități de urmărire a unor indicatori relevanți la nivelul a 47 de municipalități (40 reședințe de județ, București + 6 sectoare).  Această monitorizare se va face prin implicarea a 80 de cetățeni recrutați și formați, 24 de campanii de advocacy la nivel local și 3 naționale, precum și 3 dezbateri privind îmbunătățirea cadrului de politici publice pentru serviciile publice monitorizate. <b>Demersurile vor ținti în primul rând respectarea normelor în vigoare privind cele trei servicii publice</b>, și anume Legea educației naționale, a serviciilor de transport public local, a pachetului normativ privind deșeurile, dar și cadrul normativ secundar.</p>

<h4>Ce obiective avem? </h4>
<ul>
<li>Implicarea cetățenilor în îmbunătățirea calității vieții urbane prin monitorizarea serviciilor publice de transport local, educație și gestionare a deșeurilor în 40</li>
<li>municipii reședință de județ și municipiul București (primăria generală și primăriile de sector);</li>
<li>Dezvoltarea capacității de implicare civică a cetățenilor, în special a tinerilor, din municipii provenind din fiecare regiune de dezvoltare, prin: (1) transfer de bune practici de mobilizare a comunităților norvegiene, (2) organizarea a 8 sesiuni de formare și (3) desfășurarea a 24 de campanii de advocacy la nivel local, cu scopul îmbunătățirii calității serviciilor publice monitorizate;</li>
<li>Creșterea capacității instituționale a Societății Academice din România prin desfașurarea de sesiuni de evaluare organizațională, formare și coaching în vederea implementării unor proceduri de management eficiente și a unor proceduri de guvernanță organizatională transparente și responsabile.</li>
</ul>

<p>Potrivit Legii 544 privind liberul acces la informațiile de interes public, ai dreptul să pui intrebări autorităților. Aplicația “<b>Ia statul la întrebări</b>” este o platformă necesară cetățenilor care doresc să adreseze o petiție instituțiilor publice. Informaţiile de interes public se comunică din oficiu (fără a fi nevoie de vreo cerere) sau la cererea, verbală sau scrisă, a solicitantului. Accesul la informaţiile de interes public este gratuit. Solicitantul trebuie, însă, in anumite cazuri,, să suporte costul serviciilor de copiere a documentelor pe care le cere. Cererea scrisă poate fi făcută pe hârtie sau pe suport electronic (e-mail). Legea prevede termene de comunicare de: 5 zile, 10 zile şi 30 de zile. Nerespectarea termenelor legale pentru comunicarea în scris a refuzului sau a informaţiei echivalează cu refuzul nejustificat de rezolvare a cererii şi, implicit de aplicare a legii liberului acces la informaţiile de interes public.</p>

<p>
  Poate fi greu să descurci structura complicată a statului și să descoperi cine deține informațiile pe care le dorești. <br>Aplicația “Ia statul la întrebări” îți poate veni în ajutor, astfel:
  <ul>
  <li>Răsfoieste site-ul în căutarea unor cereri similare cu ale tale.</li>
  <li>Când ai găsit o autoritate despre care crezi că ar putea avea informațiile pe care le cauți, contacteaz-o prin telefon sau e-mail pentru a întreba dacă dețin tipul de informații pe care le cauți.</li>
  <li>Dacă ai înțeles greșit, ar trebui să te sfătuiască cui să adresezi cererea.</li>
  <li>Dacă ai un caz complicat, te rog să ne contactezi pentru ajutor.</li>
  </ul>
</p>



  <div id="hash_link_padding"></div>
</div>
